@tailwind base;
@tailwind components;
@tailwind utilities;


.h1{
  color: #7B1984;
}

.urbanist {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}