@tailwind base;
@tailwind components;
@tailwind utilities;


.h1 {
  color: #7B1984;
}

.urbanist {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}


details summary::-webkit-details-marker {
  display: none;
}

details summary {
  list-style: none;
}